<!DOCTYPE html>
<html>
<head>
  <title><%= h @options.title %></title>
	<link rel="stylesheet" href="rdoc.css" type="text/css" media="screen" />
  <script src="js/jquery.js" type="text/javascript"></script>
  <script src="js/camping.js" type="text/javascript"></script>
</head>
<body>
  <div id="menu">
    <ul id="links">
      <li><a href="book/">book</a> | </li>
      <li><a href="api/">reference</a> | </li>
      <li><a href="http://wiki.github.com/why/camping">wiki</a> | </li>
      <li><a href="http://github.com/why/camping">code</a></li>
    </ul>
    <p id="version">Camping <%= VERS %></p>
  </div>
  
  <div id="fullpage">
    <div class="page_shade">
    	<div class="page">
    	  <p class="header"><%= Time.now %></p>
        <h1><%= h @options.title %></h1>
      	<img src="images/Camping.gif" alt="The Camping Badge" id="logo">
      	<%= @files.find { |f| f.full_name == @options.main_page }.description.sub(%r{^\s*<h1.*?/h1>}i, '') %>
      </div>
    </div>
  </div>
</body>
</html>
<%#
  Thread.new {
    ref = @template_dir + 'reference.rhtml'
    refout = @basedir + @options.op_dir + 'api' + 'index.html'
    render_template(ref, binding, refout)
  
    book = Module.new { attr_accessor :title }
    bookpage = @template_dir + 'bookpage.rhtml'
    @books = []
  
    @files.each do |file|
      if file.relative_name[0,5] == 'book/'
        @books << file
        file.extend(book)
        file.title  = file.description[%r{<h1>(.*?)</h1>}, 1] 
      end
    end
    @files.delete_if { |file| @books.include?(file) }

    @books.each do |file|
			out         = @outputdir + file.path
			rel_prefix  = @outputdir.relative_path_from( out.dirname )
      render_template(bookpage, binding, out)  
    end
  
    book = @template_dir + 'bookindex.rhtml'
    bookout = @basedir + @options.op_dir + 'book' + 'index.html'
    rel_prefix = @outputdir.relative_path_from(bookout.dirname) 
    render_template(book, binding, bookout) 
  }
%>