
body {
    font: normal 14px verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
    line-height: 160%;
    padding: 0; margin: 0;
    margin-bottom: 30px;
    background-color: #694;
}

p#version, h1, h2, h3, h4 {
    font-family: Utopia, Georgia, serif;
    font-weight: bold;
    letter-spacing: -0.018em;
}

#logo { width: 150px; margin: 2em auto; display: block; }

h1 { font-size: 36px; margin: 1em; }
h2 { font-size: 24px }
h3, p#version { font-size: 19px }
h4 { font-size: 17px; font-weight: normal; }
h2.ruled { padding-top: 35px; border-top: solid 1px #AA5; }

/* Link styles */
:link, :visited {
    color: #00b;
}

:link:hover, :visited:hover {
    background-color: #eee;
    color: #B22;
}

/* menu */

#menu {
	background-color: #dfa;
	padding: 4px 12px;
	margin: 0;
}

#menu #version { padding: 0; margin: 0; }
#menu #links { float: right; padding:0; margin: 0;}
#menu #links ul { display: inline; }
#menu #links li { display: inline; }

#fullpage {
    width: 720px;
    margin: 3em auto;
}

.page_shade, .page {
	clear: both;
    padding: 0px 5px 5px 0px;
    background-color: #fcfcf9;
    border: solid 1px #983;
}
.page {
    margin-left: -5px;
    margin-top: -5px;
    padding: 20px 35px;
}
.page .header {
    float: right;
    color: #777;
    font-size: 10px;
}
.page h1, .page h2, .page h3 {
    clear: both;
    text-align: center;
}

.ref h2 a {
  background-color: #eee;
  color: black;
  display: block;    
  text-align: left;
  text-decoration: none;   
  padding: 0.5em 1em;
}

.ref h2 a:hover {
  text-decoration: underline;
}

.ref h4 a {
  border-bottom: solid 1px #CC9;
  color: #000;
  display: block;
  text-decoration: none;
}

.ref h4 a:hover {
  border-color: #694;
}

.ref .mod {
  padding: 0 2em;
}

pre { font-weight: bold; color: #730; }
tt { color: #703; font-size: 12pt; }
pre.sourcecode { color: #DDDDDD; background-color: #775915; padding: 4px 8px; margin: 0; display: none; font-size: 8pt; }
.source-link     { text-align: right; font-size: 8pt; }
.ruby-comment    { color: green; font-style: italic }
.ruby-constant   { color: #CCDDFF; font-weight: bold; }
.ruby-identifier { color: #CCCCCC;  }
.ruby-ivar       { color: #BBCCFF; }
.ruby-keyword    { color: #EEEEFF; font-weight: bold }
.ruby-node       { color: #FFFFFF; }
.ruby-operator   { color: #CCCCCC;  }
.ruby-regexp     { color: #DDFFDD; }
.ruby-value      { color: #FFAAAA; font-style: italic }
.kw { color: #DDDDFF; font-weight: bold }
.cmt { color: #CCFFCC; font-style: italic }
.str { color: #EECCCC; font-style: italic }
.re  { color: #EECCCC; }