<!DOCTYPE html>
<html>
<head>
  <title><%= h @options.title %></title>
	<link rel="stylesheet" href="<%= rel_prefix %>/rdoc.css" type="text/css" media="screen" />
  <script src="<%= rel_prefix %>/js/jquery.js" type="text/javascript"></script>
  <script src="<%= rel_prefix %>/js/camping.js" type="text/javascript"></script>
</head>
<body>
  <div id="menu">
    <ul id="links">
      <li><a href="<%= rel_prefix %>/book.html">book</a> | </li>
      <li><a href="<%= rel_prefix %>/api.html">reference</a> | </li>
      <li><a href="http://wiki.github.com/camping/camping">wiki</a> | </li>
      <li><a href="http://github.com/camping/camping">code</a></li>
    </ul>
    <p id="version">Camping <%= VERS %></p>
  </div>
  
  <div id="fullpage">
    <div class="page_shade">
    	<div class="page">
    	  <p class="header"><%= Time.now %></p>
        <h1><%= h @options.title %></h1>
      	<img src="images/Camping.gif" alt="The Camping Badge" id="logo">
      	<%= @files.find { |f| f.full_name == @options.main_page }.description.sub(%r{^\s*<h1.*?/h1>}i, '') %>
      </div>
    </div>
  </div>
</body>
</html>
