<!DOCTYPE html>
<html>
<head>
  <title>Camping, the Reference</title>
	<link rel="stylesheet" href="../rdoc.css" type="text/css" media="screen" />
  <script src="../js/jquery.js" type="text/javascript"></script>
  <script src="../js/camping.js" type="text/javascript"></script>
</head>
<body>
  <div id="menu">
    <ul id="links">
      <li><a href="../">front</a> | </li>
      <li><a href="../book/">book</a> | </li>
      <li><a href="http://wiki.github.com/why/camping">wiki</a> | </li>
      <li><a href="http://github.com/why/camping">code</a></li>
    </ul>
    <p id="version">Camping <%= VERS %></p>
  </div>
  
  <div id="fullpage">
    <div class="page_shade">
    	<div class="page">
    	  <p class="header"><%= Time.now %></p>
    	  <h1>Camping, the Reference</h1>
    	
    	<% @modsort.each do |klass| %>
    		<h2 class="ruled">
    		  <%# puts klass.class.ancestors;exit %>
    		  <%= klass.type.capitalize %>
    		  <%= klass.full_name %>
    		  <% if klass.type == 'class' %>
            <% unless String === klass.superclass %>
              <%= klass.superclass.full_name %>
            <% else %>
              <%= klass.superclass %>
            <% end %>
          <% end %>
    		</h2>
    		
  			<%= klass.description %>
  			
    		<h3>Methods</h3>
    		<% klass.methods_by_type.each do |type, visibilities|
    			   next if visibilities.empty?
    			   visibilities.each do |visibility, methods|
    				   next if methods.empty?
    				   methods.each do |method| %>
    		<h4 class="ruled">
    		  <%= visibility.to_s.capitalize %> <%= type.capitalize %> method:
    		  <strong><%= method.pretty_name %><%= method.params%></strong>
    		  <a href="#" class="permalink">[permalink]</a>
    		</h4>
    		<%= method.description %>
        <p class="source-link">[ <a href="#">show source</a> ]</p>
<pre class="sourcecode">
<%= method.markup_code %>
</pre>
    		    <% end
    		     end
    		   end
    		 end %>
    </div>
  </div>
</body>
</html>